{% extends 'base.html' %}
{% load static %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'basketapp/js/basket.js' %}"></script>
{% endblock %}

{% block header %}
	<div class="hero-white">
		{% include 'includes/inc_header_index.html' %}
	</div>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
            <div class="row">
                <div class="basket_list">
                    {% include 'includes/inc_basket_list.html' %}
                </div>
                <button class="btn btn-outline-info text-center col-2">
                  <a href="{% url 'main' %}">на главную</a>
                </button>
            </div>
    {% endif %}
{% endblock %}